{% extends 'core/base.html' %}

{% block content %}
<h2>Kategorien</h2>
<table>
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for kategorie in kategorien %}
        <tr>
            <td>{{ kategorie.kategoriebezeichnung }}</td>
            <td>
                <a href="{% url 'kategorie_update' kategorie.pk %}">Bearbeiten</a>
                <a href="{% url 'kategorie_delete' kategorie.pk %}">Löschen</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'kategorie_create' %}">Neue Kategorie hinzufügen</a>
{% endblock %}
