{% extends 'core/base.html' %}

{% block content %}
<h2>Kontenübersicht</h2>
<table>
    <thead>
        <tr>
            <th>Bezeichnung</th>
            <th>Typ</th>
            <th>Kontostand</th>
            <th>Aktionen</th>
        </tr>
    </thead>
    <tbody>
        {% for konto in konten %}
        <tr>
            <td>{{ konto.name }}</td>
            <td>{{ konto.kontotyp }}</td>
            <td>{{ konto.kontostand }}</td>
            <td>
                <a href="{% url 'konto_update' konto.pk %}">Bearbeiten</a>
                <a href="{% url 'konto_delete' konto.pk %}">Löschen</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'konto_create' %}">Neues Konto hinzufügen</a>
{% endblock %}
