{% extends 'core/base.html' %}

{% block content %}
<h2>Verträge</h2>
<table>
    <thead>
        <tr>
            <th>Vertragsnummer</th>
            <th>Name</th>
            <th>Betrag</th>
            <th>Ablaufdatum</th>
            <th>Intervall</th>
            <th>Benutzer</th>
            <th>Konto</th>
            <th>Kategorie</th>
        </tr>
    </thead>
    <tbody>
        {% for vertrag in vertraege %}
        <tr>
            <td>{{ vertrag.vertragsnummer }}</td>
            <td>{{ vertrag.name }}</td>
            <td>{{ vertrag.betrag }} EUR</td>
            <td>{{ vertrag.ablaufdatum }}</td>
            <td>{{ vertrag.intervall }}</td>
            <td>{{ vertrag.benutzer.benutzername }}</td>
            <td>{{ vertrag.konto.kontobezeichnung }}</td>
            <td>{{ vertrag.kategorie.kategoriebezeichnung }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}